.site-header__address-link {
  font-size: 10px;
  line-height: 15px;
  color: #1A1A1A;

  &:first-child {
    margin-right: 100px;

    &::before {
      background-image: url('../../images/location.svg');
    }
  }

  &::before {
    margin-right: 10px;
    @include psevdoelements(inline-block, 15px, 15px, "");
  }

  &:last-child {
    &::before {
      background-image: url('../../images/phone.svg');
    }
  }
}

.navbar-btn {
  display: inline-block;
  width: 26px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url('../../images/burger.svg');
}

.site-header__boottom {
  background: linear-gradient(90.05deg, #E47500 -5.66%, #DF7C14 115.63%) !important;
}

.sitenav {
  padding-top: 20px;
  padding-bottom: 19px;
}

.btn-contact {
  padding: 10px 27px;
  font-size: 13px;
  line-height: 20px;

  color: #DC7000;
}

.nav-item a{
  line-height: 24px;
  color: #FFFFFF !important;
}

.nav-item {
  &:not(:last-child) {
    margin-right: 45px;
  }
}

.nav-link.active {
  &::before {
    margin-right: 8px;
    @include psevdoelements(inline-block, 12px, 12px, "");
    border-radius: 50%;
    background-color: #fff;
  }
}

@include mobile-first(576px) {
  .sitenav {
    padding-top: 15px;
    padding-bottom: 13px;
  }
}

@include mobile-first(900px) {
  .nav-item {
    &:not(:last-child) {
      margin-right: 65px;
    }
  }
}